[Desktop Entry]
Name=3D Slicer (GPU-accelerated)
Comment=3D Slicer (GPU-accelerated)
Exec=vglrun /home/docker/slicer/Slicer ${SLICER_ARGUMENTS}
Terminal=false
Type=Application
Encoding=UTF-8
Icon=/home/docker/slicer/slicer.png
Categories=Utilities;
